@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Enjoy My Favorite Song!</h1>

<div class="video-container">
    <!-- Replace VIDEO_ID with your YouTube video ID -->
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/8jWgbnXBEPQ" frameborder="0" allowfullscreen></iframe>
</div>

<button class="play-btn" onclick="animateButton()">Click Me!</button>
